.background-xp{
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 5%;
}
.container-xp-1 :hover{
  background-color: rgb(8, 32, 53);
  border-radius: 10px;
}

#date-xp{
  width: 30%;
}
#date-xp p{
  margin: 0;
}
#content-xp{
  width: 70%;
}
#content-xp h4{
  margin: 0;
}
