<main>
  <!-- Left-content -->
  <div class="left-content">
    <h1 id="name">Thomas Olaya García</h1>
    <h3 id="profesional-title">Sistems Engineer</h3>
    <p id="experience-title">Experienced in full-stack web development</p>
    <p id="my-phrase">
      "Never doubt your talents, because without them you are not where you are
      today."
    </p>
    <div class="social-media-container">
      <section id="social-media">
        <img
          src="../../assets/icons/instagram.png"
          alt="instagram"
          width="30px"
        />
        <img src="../../assets/icons/github.png" alt="github" width="30px" />
        <img
          src="../../assets/icons/linkedin.png"
          alt="linkedin"
          width="30px"
        />
      </section>
    </div>

    <audio src="">this</audio>
  </div>

  <!-- Right-content -->
  <div class="right-content">
    <p id="paragraph-about">
      Although my experience in web development is short, I am really passionate
      about being able to create innovative ideas that captivate and add value
      to others.
      <br />
      <br />
      Front-end web design and development catches my attention, especially when
      Tumblr themes are combined with good lighting management and a few
      animations that generate dynamism to the pages.
      <br />
      <br />
      Normally my day is usually accompanied by productivity in the morning and
      some distraction in the afternoons, music production is something that is
      part of my daily life, so if you don't find me updating my projects on
      gitHub, you can find me editing a topic in Fl Studio.
    </p>

    <app-experience/>
  </div>
</main>
