<main>
  <div class="left-content">
    <h1 id="name">Thomas Olaya Garcia</h1>
    <h3 id="profesional-title">Sistems Engineer</h3>
    <p id="experience-title">Experienced in full-stack web development</p>
    <p id="my-phrase">
      "Never doubt your talents, because without them you are not where you are
      today."
    </p>
    <section id="social-media">
      redes sociales <br />
      asjhdgajsdfjha <br />
      ajshdjah
    </section>
  </div>

  <div class="right-content">
    <p>
      Although my experience in web development is short, I am really passionate
      about being able to create innovative ideas that captivate and add value
      to others.
    </p>
  </div>
</main>
