
:root{
  color-scheme: dark;
  background-image: linear-gradient(to bottom, #0a1022, #041c28);
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
}
body{
  margin: 0;

  p{
    opacity: 0.6;
  }
}

